
.fb-theme-default {
  font-family: 'Open Sans', sans-serif;
  @media screen and (max-width: 600px) {
    font-size: 21px;
  }
  @media screen and (min-width: 600px) {
    font-size: 16px;
  }

  * {
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
    font-weight: 400;
    margin: 1em 0;
    font-size: 2em;
  }

  h2 {
    font-weight: 400;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0.25em 0;
    color: pur
  }

  input,
  label,
  select {
    display: block;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  textarea,
  input,
  select {
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    &:focus {
      box-shadow: rgba(0, 100, 255, 0.5) 0 0 4px 0;
      outline: none;
      border: 1px solid rgba(0,100,255,0.3);
      transition: all 0.3s ease-in-out;
    }
    &::placeholder {
      color: #b7b7b7;
    }
    &[type="submit"] {
      width: auto;
      padding: 10px 30px;
      min-width: 200px;
      font-size: 1.3em;
      color: white;
      background-color: rgba(0, 100, 255, 1);
      margin: 40px auto;
      cursor: pointer;
    }
    &[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      border: 1px solid rgba(0,0,0,0.3);
      transition: 0.2s all linear;
      position: relative;
      top: 0.15em;
      padding: 0 !important;
      margin: 0;
      display: inline-block;
      &:checked {
        border: 6px solid rgba(0, 100, 255, 1);
        transition: 0.2s all linear;
      }
      + label {
        display: inline;
        padding-left: 0.5em;
      }
    }
    &[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &::-ms-check {
        display: none;
      }
      border-radius: 0;
      width: 1em;
      height: 1em;
      border: 1px solid rgba(0,0,0,0.3);
      transition: 0.2s all linear;
      position: relative;
      top: 0.15em;
      padding: 0 !important;
      margin: 0;
      display: inline-block;
      /* Set here so that Windows' High-Contrast Mode can override */
      color: #00b312;
      &::before {
        content: "✔";
        position: absolute;
        font-size: 1.2em;
        right: -0.15em;
        top: 0.2em;
        visibility: hidden;
        transition: 0.1s all linear;
      }
      &:checked::before {
        /* Use `visibility` instead of `display` to avoid recalculating layout */
        visibility: visible;
        top: -0.4em;
        transition: 0.1s all linear;
      }
      //&:checked {
      //  border: 6px solid rgba(0, 100, 255, 1);
      //  transition: 0.2s all linear;
      //}
      + label {
        display: inline;
        padding-left: 0.5em;
      }
      &:disabled {
        //border-color: black;
        background: #ddd;
        color: gray;
      }
    }
  }

  span.form-hint {
    font-size: 0.7em;
  }
  div.form-field {
    margin: 10px 0;
    padding: 10px;
    &:hover {
      background-color: rgba(0,0,0,0.05);
    }
  }

  abbr.required {
    color: #A41300;
    text-decoration: none;
  }


  div.input-wrapper {
    position: relative;
    fieldset {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 3px;
    }
    &.with-icon {
      textarea,
      input,
      select {
        padding-left: 2.3em;
        &:focus + i {
          color: rgba(0, 100, 255, 0.5);
          transition: all 0.3s ease-in-out;
        }
      }
      fieldset {
        & > legend > i {
          position: static;
          padding: 0 8px;
          margin-top: 0;
        }
      }
      i {
        transition: all 0.3s ease-in-out;
        position: absolute;
        color: rgba(0, 0, 0, 0.3);
        font-size: 1.2em;
        left: 0.5em;
        top: 0;
        line-height: 1em;
        /*1px - compensate for border size because we use box-sizing=border-box
        0.4em - font size is set here therefore 1em is now x1.2 than the font size of the input field.
                Input field is 2em (1em font + 0.5em padding top and bottom)
                so 0.4 is half of the remaining space
        */
        margin-top: calc(0.4em + 1px); // input field has 1em font + 0.5em padding = 2em. icon size is 1.2em, leaving 0.8/2 for padding. using rem and not em because font-size is changed on this entity
        //margin-top: 0.42em; /* 1/1.2*0.5 em is now x1.2 of the input field, because font-size is changed here*/
        //transform: translateY(-0.1em); /* because we have 0.2em more than the font in the input field*/
      }
    }
  }
}